@tailwind base;
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}
@tailwind components;

.truncate-1-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.truncate-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

@tailwind utilities;
